.title{
  color: #fff;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
    margin: 10px 0;
}


.inputs{
  background-color: yellowgreen;
  margin: 10px 0;
}

.input{
   max-width: 400px;
  height: 30px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  background-color: #F9F0DA;
  color: #9E9C9C;
  margin: 10px;
}

